langchain
langchain_community
langchain_openai
langgraph
langchain_groq
python-dotenv
openai
linkedin-api
loguru
pydantic
pytest
python-decouple
sqlalchemy
fastapi
uvicorn
requests
selenium
beautifulsoup4
pandas
playwright
redis==5.0.1
supabase
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
mysql-connector-python
python-jose[cryptography]
authlib
pyjwt
itsdangerous
pinecone
google-search-results
praw
langchain_groq
dnspython>=2.4.0
aiosmtplib>=3.0.0
aiohttp
